In [0]:
from pyspark.sql.functions import col
from pyspark.sql.type import IntegerType, DoubleType, BooleanType, DateType

In [0]:
storage_account_name = 'wisdomtpadls'
container_name = 'tokyo-olympic-data'
client_id = 'c39d75ff-63ca-4e9f-b79f-983056a05546'
tenant_id = 'bce8d41b-19e4-4270-88dc-a080cbfdef92'
secret_value = 'vHL8Q~JyyHNXnfl7C-Zu.j4MQGeDms7-6N5nYaRw'

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "c39d75ff-63ca-4e9f-b79f-983056a05546",
"fs.azure.account.oauth2.client.secret": 'vHL8Q~JyyHNXnfl7C-Zu.j4MQGeDms7-6N5nYaRw',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/bce8d41b-19e4-4270-88dc-a080cbfdef92/oauth2/token"}


dbutils.fs.mount(
source = f"abfss://tokyo-olympic-data@wisdomtpadls.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

True

In [0]:
%fs
ls /mnt/tokyoolympic

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/informationData.json,informationData.json,701,1697551450000
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1697548912000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1697548942000

In [0]:
schema_athletes = "PersonName String, Country String, Discipline String"
schema_coaches = "PersonName String, Country String, Discipline String, Event String"
schema_entriesGender = "Discipline String, Male Integer, Female Integer, Total Integer"
schema_medals = "Rank Integer, Team_Country String, Gold Integer, Silver Integer, Bronze Integer, Total Integer, `Rank by Total` Integer"
schema_teams = "TeamName String, Discipline String, Country String, Event String"

In [0]:
athletes = spark.read.format('csv').schema(schema_athletes).load('/mnt/tokyoolympic/raw-data/Athletes.csv')
coaches = spark.read.format('csv').schema(schema_coaches).load('/mnt/tokyoolympic/raw-data/Coaches.csv')
entriesGender = spark.read.format('csv').schema(schema_entriesGender).load('/mnt/tokyoolympic/raw-data/EntriesGender.csv')
medals = spark.read.format('csv').schema(schema_medals).load('/mnt/tokyoolympic/raw-data/Medals.csv')
teams = spark.read.format('csv').schema(schema_teams).load('/mnt/tokyoolympic/raw-data/Teams.csv')

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
#finding top countries with highest number of gold medals
top_gold = medals.orderBy('Gold',ascending=False).show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
athletes.repartition(1).write.mode("overwrite").csv("mnt/tokyoolympic/transformed-data/atheletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/teams